@import '../../node_modules/modern-normalize/modern-normalize.css';
@import 'base';

html,
body,
#__next {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: transparent;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

[data-js-focus-visible] [data-focus-visible-added]:focus {
  outline-color: hotpink;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
